
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#storesMap {
    width: 100%;
    height: 500px;
}

.map-wrapper {
    width: 100%;
    height: 400px;
}